:root {
  --main: rgb(25, 201, 207);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* for the whole page */
.wrapper {
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(234, 0, 255, 0.577),
    rgba(9, 160, 230, 0.7)
  );

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

/* calculaor section */
.mainParent {
  width: 350px;
  background: rgba(128, 128, 128, 0.479);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, o.25);
  background-color: rgb(25, 201, 207);
}

/* Result section */
.result {
  border: 1px, solid, rgba(59, 59, 59, 0.322);
  border-radius: 10px;
  padding: 1rem;
  font-weight: bolder;
  box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: white;

  display: flex;
  justify-content: flex-end;
  color: rgb(69, 155, 182);

  overflow: hidden;
}

/* items section  */
.items {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "clear clean divide multi"
    "no7 no8 no9 plus"
    "no4 no5 no6 minus"
    "no1 no2 no3 ans"
    "dot no0 no0 ans";
}

.items > button {
  cursor: pointer;
  min-height: 70px;
  box-shadow: violet;
  font-size: 1.5rem;
  font-weight: bolder;
  /* color: rgb(25, 201, 207); */
  color: var(--main-color);
  background: rgba(177, 71, 171, 0.479);
  /* border-radius: 3px; */
  border-radius: 50%;
  border: none;
}

.items > button:hover {
  background: orchid;
  color: aliceblue;
}

.clear {
  grid-area: clear;
}
.clean {
  grid-area: clean;
}
.divide {
  grid-area: divide;
}
.multi {
  grid-area: multi;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.no-7 {
  grid-area: no7;
}
.no-8 {
  grid-area: no8;
}
.no-9 {
  grid-area: no9;
}
.no-4 {
  grid-area: no4;
}
.no-5 {
  grid-area: no5;
}
.no-6 {
  grid-area: no6;
}
.no-1 {
  grid-area: no1;
}
.no-2 {
  grid-area: no2;
}
.no-3 {
  grid-area: no3;
}
.no-0 {
  grid-area: no0;
}
.dot {
  grid-area: dot;
}
.ans {
  grid-area: ans;
}

/* prank animation */
.prank {
  animation: shake 0.3s ease-in;
}

@keyframes shake {
  0% {
    transform: translate(10px);
  }
  50% {
    transform: translate(-10px);
  }
  75% {
    transform: translate(10px);
  }
  100% {
    transform: translate(-10px);
  }
}
